@font-face {
    font-family: 'DepartureMono';
    src: url('DepartureMono.otf');
}
body, html {

    background-color:black;
    color:white;
    line-height:1.9;
    font-family:'DepartureMono';
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 0 0 3px #ff0000, 0 0 3px #00ffff; /*no you dont need glasses*/
    letter-spacing: 0.03em;
}
a {
    color: white;
}
fieldset {
    border: 2px solid;
    box-shadow: 0 0 2px #ff0000, 0 0 2px #00ffff;
}
.mainx {
    margin:0;
    padding:0;
}

.ticker-wrap img {
    height: 1em;
    width: auto;
    vertical-align: middle;
}

.ticker-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: black;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
}

.marquee {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 40s linear infinite;
}

.marquee2 span {
    animation-delay: 12s;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}


