/* Fonts */
@font-face {
    font-family: 'DepartureMono';
    src: url('DepartureMono.otf');
}

/* Base */
body, html {
    background-color: #000;
    color: #FFF;
    font-family: 'DepartureMono';
    letter-spacing: 0.03em;
    line-height: 1.9;
    padding-bottom: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    max-width: 50rem;
    margin: 0 auto;
}

/* Typography */
a {
    color: #FFF;
}

pre {
    font-family: DepartureMono;
    font-size: 0.9rem;
    line-height: 1.28;
    margin: 0;
}

pre a {
    text-decoration: none;
}

/* Components */
fieldset {
    border: 2px solid #FFF;
    box-shadow: 1.5px 0px 0px #ff0000bb, -1.5px 0px 0px #00ffffbb;
}

.infobox {
    margin-top: 15px;
}

.infobox img {
    height: 1.4em;
    width: auto;
    vertical-align: middle;
}

/* Music Player */
.music-container {
    display: flex;
    align-items: left;
    gap: 20px;
    padding: 15px;
}

.album-art {
    width: 200px;
    height: auto;
}

.meta-group {
    display: flex;
    flex-direction: column;
}

.meta-group small {
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 0.7;
}

.music-seperator {
    display: inline-block;
    width: fit-content;
    border-top: 1.5px solid #555;
    padding-top: 5px;
}

#trackUrl {
margin-top: 10px;
}

/* Ticker */
.ticker-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #000;
    overflow: hidden;
}

.ticker-wrap img {
    height: 1em;
    width: auto;
    vertical-align: middle;
}

.marquee {
    position: absolute;
    width: 100%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 40s linear infinite;
}

.marquee2 span {
    animation-delay: 12s;
}

/* Utilities */
.copy {
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 600px) {
    .music-container {
        display: flex;
        align-items: left;
    }

    .meta-group {
        align-items: left;
    }

    .album-art {
        width: 150px;
        height: fit-content;
    }
}

/* Animations */
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
